// Text Utilities
.reset-text-transform {
  text-transform: none !important;
}

.text-shadow-4 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
}

// Link Styling
a {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

// SVG Filters
.svg-filter {
  &--dark-blue {
    filter: invert(12%) sepia(44%) saturate(1002%) hue-rotate(197deg) brightness(94%) contrast(97%);
  }
  &--secondary {
    filter: invert(56%) sepia(45%) saturate(3115%) hue-rotate(160deg) brightness(90%) contrast(101%);
  }
  &--secondary-mono {
    filter: brightness(0) saturate(100%) invert(75%) sepia(10%) saturate(13%) hue-rotate(1deg) brightness(87%) contrast(85%);
  }
  &--white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg) brightness(150%) contrast(102%) !important;
  }
  &--grayscale {
    filter: grayscale(100%);
  }
}

// Visual Effects
.blur-10 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
}

.inner-shadow-4 {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2) !important;
}

.drop-shadow-4 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) !important;
}

// iFrames 
.layout-max-width { // Limita a largura do conteúdo centralizado, ideal para leitura e formulários
  max-width: 1280px;
  margin-inline: auto;
  width: 100%;
}

.iframe-fixed { // Fixa o iframe abaixo da AppBar e ajusta altura para ocupar o restante da tela
  position: fixed;
  top: 65px;
  height: calc(100vh - 65px);
  border: none;
  z-index: 1000;
  transition: all .5s ease;
}

.iframe-centered { // Centraliza horizontalmente o iframe na tela
  left: 50%;
  transform: translateX(-50%);
}

.iframe-fullscreen { // Expande o iframe para ocupar toda a largura da tela
  left: 0;
  width: 100%;
}